*{
    margin: 0;
    padding: 0;

}
body{
    background-image: url("assets/home/background-home-desktop.jpg");
   background-size:cover;
    background-repeat: no-repeat;


}
.header{
    display: flex;
    flex-direction: row;
}
.logo-img{
    width:100px;
}
.logo{
    width: 100%;
    border-radius: 100%;
    margin-top: 45px;
    margin-left: 50px;
}
.rule{
    width:50%;

    margin-left:50px;
}
hr{
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.404);
    width: 100%;
   margin-top:13%;
   
    margin-bottom: 10px;
    display: inline-block;
    

}
.menu{

  backdrop-filter: blur(100px);
   
  width: 1000px;
    margin-top: 40px;
    border:0;
    padding-top: 30px;
    

text-align: center;
    


}

a{
    padding: 60px 20px 35px 20px;
    /* backdrop-filter: blur(20px); */
    
  
    text-decoration: none;
    color:#fff;
    font-size: large;
    word-spacing: 0.5rem;
    font-family: 'Oswald', sans-serif;
    
}
a:hover{
    border-bottom:1px solid #fff;
}
#content{
    color:white;
    text-align: justify;
}
.content_div{
    width:400px;
    height:400px;
   margin:10% auto auto 10%;
   font-family: 'Oswald', sans-serif;
   padding: 10px;
   display: inline-block;
}
h3{
    
    font-size: 2.3rem;
    line-height: 1.5;
    font-weight: lighter;
    
}
h1{
    font-family: 'EB Garamond', serif;
    font-size: 10rem;
    font-weight: 100;
    text-transform:uppercase;

}
p{
    font-size: medium;
    line-height: 1.5;
    padding: 5px;
    letter-spacing:1px;
    word-spacing: 5px;

}
.img_content{
    width:300px;
    height:100px;
    float:right;
    display: inline;
    margin-right: 10%;
    margin-top: 15%;
}

.img_explore {
width:100%;
float:right;
display: inline;
border-radius: 100%;

}
.details{
    padding-left:60px;
}